@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("@fontsource/league-spartan");
@import url("@fontsource/poppins");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";  /* font-size: large; */
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .scrolled {
    @apply opacity-90 transition-all duration-150 ease-in;
  }
}
.px-4{
 background-color: rgba(169, 169, 169, 0.095);
}
.bg-black {
  background-color: rgb(46, 46, 46);
}

.firstPic{
  background-color: black;
  width: 100%;
}



.videobgw{
  position: relative;
  width: 100%;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
/* Additional styling for removing any potential default margins/paddings on the video container */
.videobgw video {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.contentvideo{
  position: absolute;
  width: 100%;
  /* height: 100%; */
  top: 40%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: 'Poppins';
}
.contentvideo h1{
  font-size: 4em;
}
.contentvideo p{
  font-size: 1.8em;
}
.videobg .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
}
/* Add this to your existing CSS or create a new stylesheet */
.shop-now-btn {
  display: inline-block;
  padding: 13px 50px;
  border: none;
  margin-top: 20px;
  border-radius: 15px;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.shop-now-btn:hover {
  background-color: black;
  color: white;
}


/* Common styles for all screen sizes go here */

/* Mobile Phones */
@media only screen and (max-width: 767px) {
  /* Your mobile styles go here */
  body{
    font-size: 12px;
  }
  .contentvideo h1{
    font-size: 2.5em;
  }
  .contentvideo p{
    font-size: 1em;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your tablet styles go here */
  .contentvideo p{
    font-size: 1.4em;
  }
}

/* Small Laptops and Desktops */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Your styles for small laptops and desktops go here */
}

/* Large Laptops and Desktops */
@media only screen and (min-width: 1280px) {
  /* Your styles for large laptops and desktops go here */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container {
  position: relative;
  overflow: hidden;
  height: 40px; /* Set the desired height */
  background-color: yellow; /* Yellow background */
  width: 100%;
}

.scroll-text {
  position:absolute;
  display: block;
  white-space: nowrap;
  color: black; /* Black text color */
  animation: scroll 20s linear infinite;
  /* font-style: Spartan; */
  font-family: "Poppins";
  font-size: 25px;
  width: 100%;
}
